.movies-table-container {
  padding: 20px;
  background-color: white;
}

.movies-table-container th,
.movies-table-container td {
  text-align: center;
}

.movie-table-row a {
  text-align: center;
}

.movie-table-img-wrapper {
  width: 55%;
  margin: auto;
  height: 95%;
  border-radius: 20px;
  box-shadow: 0 0 14px black;
  overflow: hidden;
}

.movie-table-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
